@model IEnumerable<MakeBetter.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null,  new { @class= "btn btn-primary"})
</p>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th></th>
        <th>
            State
        </th>
        <th>
            ShortDescription
        </th>
        <th>
            Description
        </th>
        <th>
            UseId
        </th>
        <th>
            TaskType
        </th>
        <th>
            DateAdded
        </th>
        <th>
            DurationMinutes
        </th>
        <th>
            Latitude
        </th>
        <th>
            Longitude
        </th>
        <th>
            Comment
        </th>
        <th>
            User
        </th>
        <th>
            UsersInTask
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaskId }, new {@class="btn-mini btn  btn-success"}) |
            @Html.ActionLink("Details", "Details", new { id=item.TaskId }, new {@class="btn-mini btn  btn-info"}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaskId }, new {@class="btn-mini btn  btn-danger"})
        </td>
        <td>
			@item.State
        </td>
        <td>
			@item.ShortDescription
        </td>
        <td>
			@item.Description
        </td>
        <td>
			@item.UseId
        </td>
        <td>
			@item.TaskType
        </td>
        <td>
			@String.Format("{0:g}", item.DateAdded)
        </td>
        <td>
			@item.DurationMinutes
        </td>
        <td>
			@String.Format("{0:F}", item.Latitude)
        </td>
        <td>
			@String.Format("{0:F}", item.Longitude)
        </td>
        <td>
			@(item.Comment == null ? "None" : item.Comment.Count.ToString())
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.User).ToString()
        </td>
        <td>
			@(item.UsersInTask == null ? "None" : item.UsersInTask.Count.ToString())
        </td>
    </tr>
}

</table>


