@model MakeBetter.Models.User

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Email)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Email)
    @Html.ValidationMessageFor(model => model.Email)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.NickName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.NickName)
    @Html.ValidationMessageFor(model => model.NickName)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Rating)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Rating)
    @Html.ValidationMessageFor(model => model.Rating)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.KloutId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.KloutId)
    @Html.ValidationMessageFor(model => model.KloutId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.DnaId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.DnaId)
    @Html.ValidationMessageFor(model => model.DnaId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PasswordHash)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PasswordHash)
    @Html.ValidationMessageFor(model => model.PasswordHash)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.VKId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.VKId)
    @Html.ValidationMessageFor(model => model.VKId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.FacebookId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.FacebookId)
    @Html.ValidationMessageFor(model => model.FacebookId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.GoogleId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.GoogleId)
    @Html.ValidationMessageFor(model => model.GoogleId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Banned)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Banned)
    @Html.ValidationMessageFor(model => model.Banned)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Phone)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Phone)
    @Html.ValidationMessageFor(model => model.Phone)
</div>

