@model IEnumerable<MakeBetter.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class= "btn btn-primary"} )
</p>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th></th>
        <th>
            Email
        </th>
        <th>
            NickName
        </th>
        <th>
            Rating
        </th>
        <th>
            KloutId
        </th>
        <th>
            DnaId
        </th>
        <th>
            PasswordHash
        </th>
        <th>
            VKId
        </th>
        <th>
            FacebookId
        </th>
        <th>
            GoogleId
        </th>
        <th>
            Banned
        </th>
        <th>
            Phone
        </th>
        <th>
            Comment
        </th>
        <th>
            Task
        </th>
        <th>
            UsersInTask
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }, new {@class="btn-mini btn  btn-success"})
            @Html.ActionLink("Details", "Details", new { id=item.UserId }, new {@class="btn btn-mini btn-info"})
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId }, new {@class="btn btn-mini btn-danger"})
        </td>
        <td>
			@item.Email
        </td>
        <td>
			@item.NickName
        </td>
        <td>
			@item.Rating
        </td>
        <td>
			@item.KloutId
        </td>
        <td>
			@item.DnaId
        </td>
        <td>
			@item.PasswordHash
        </td>
        <td>
			@item.VKId
        </td>
        <td>
			@item.FacebookId
        </td>
        <td>
			@item.GoogleId
        </td>
        <td>
			@item.Banned
        </td>
        <td>
			@item.Phone
        </td>
        <td>
			@(item.Comment == null ? "None" : item.Comment.Count.ToString())
        </td>
        <td>
			@(item.Task == null ? "None" : item.Task.Count.ToString())
        </td>
        <td>
			@(item.UsersInTask == null ? "None" : item.UsersInTask.Count.ToString())
        </td>
    </tr>
}

</table>


